<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Jobs" type="Parkway.Scheduler.SynchronizerConfigSectionHandler, Parkway.Scheduler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <Jobs>

    <Job name="EmailPushJob" class="EmailPushJob.EmailJob, EmailPushJob" triggerType="Simple" triggerParams="1" enabled ="true">
      <logger name="SettlementLogger">
        <appender extends="RootLogFileAppender">
          <param name="File" value="Log\EmailPushJob\log.EmailJob.log" />
        </appender>
      </logger>
      <add key="DbConnectionString" value="Server=10.7.7.75;Database=EmailClient;Trusted_Connection=false;MultipleActiveResultSets=True;persist security info=True;user id=agentbvn;password=@gentUs3rbvn" />
      <add key="EmailServiceUrl" value="http://192.168.100.123:8290/mailserv/send-mail"/>
      <add key="chunksize" value="15"/>
      <add key="UseProxy" value="false" />
      <add key="ProxyIP" value="10.10.21.22" />
      <add key="ProxyPort" value="2020" />
      <add key="IsLiveMode" value="true"/>
      <add key="Flag" value="1"/>
      <add key="InfoBeepServiceUrl" value="https://oneapi.infobip.com/" />
      <add key="InfoBeepUserName" value="nibss-plc" />
      <add key="InfoBeepPassword" value="Nibss@1230"/>
    </Job>


    <Job name="EmailPushJob3" class="EmailPushJob.EmailJob, EmailPushJob" triggerType="Simple" triggerParams="1" enabled ="true">
      <logger name="SettlementLogger">
        <appender extends="RootLogFileAppender">
          <param name="File" value="Log\EmailPushJob\log.EmailJob3.log" />
        </appender>
      </logger>
      <add key="DbConnectionString" value="Server=10.7.7.75;Database=EmailClient;Trusted_Connection=false;MultipleActiveResultSets=True;persist security info=True;user id=agentbvn;password=@gentUs3rbvn" />
      <add key="EmailServiceUrl" value="http://192.168.100.123:8290/mailserv/send-mail"/>
      <add key="chunksize" value="10"/>
      <add key="UseProxy" value="false" />
      <add key="ProxyIP" value="10.10.21.22" />
      <add key="ProxyPort" value="2020" />
      <add key="IsLiveMode" value="true"/>
      <add key="Flag" value="3"/>
      <add key="InfoBeepServiceUrl" value="https://oneapi.infobip.com/" />
      <add key="InfoBeepUserName" value="nibss-plc" />
      <add key="InfoBeepPassword" value="Nibss@1230"/>
    </Job>


    <Job name="EmailPushJob2" class="EmailPushJob.EmailJob, EmailPushJob" triggerType="Simple" triggerParams="1" enabled ="true">
      <logger name="SettlementLogger">
        <appender extends="RootLogFileAppender">
          <param name="File" value="Log\EmailPushJob\log.EmailJob2.log" />
        </appender>
      </logger>
      <add key="DbConnectionString" value="Server=10.7.7.75;Database=EmailClient;Trusted_Connection=false;MultipleActiveResultSets=True;persist security info=True;user id=agentbvn;password=@gentUs3rbvn" />
      <add key="EmailServiceUrl" value="http://192.168.100.123:8290/mailserv/send-mail"/>
      <add key="chunksize" value="20"/>
      <add key="UseProxy" value="false" />
      <add key="ProxyIP" value="10.10.21.22" />
      <add key="ProxyPort" value="2020" />
      <add key="IsLiveMode" value="true"/>
      <add key="Flag" value="2"/>
      <add key="InfoBeepServiceUrl" value="https://oneapi.infobip.com/" />
      <add key="InfoBeepUserName" value="nibss-plc" />
      <add key="InfoBeepPassword" value="Nibss@1230"/>
    </Job>

    <Job name="EmailPushMaintener" class="EmailPushJob.MaintenaceJob, EmailPushJob" triggerType="Simple" triggerParams="1" enabled ="true">
      <logger name="SettlementLogger">
        <appender extends="RootLogFileAppender">
          <param name="File" value="Log\EmailPushJob\log.EmailPushMaintener.log" />
        </appender>
      </logger>
      <add key="DbConnectionString" value="Server=10.7.7.75;Database=EmailClient;Trusted_Connection=false;MultipleActiveResultSets=True;persist security info=True;user id=agentbvn;password=@gentUs3rbvn" />
      <add key="EmailServiceUrl" value="http://192.168.100.123:8290/mailserv/send-mail"/>
      <add key="chunksize" value="10"/>
      <add key="UseProxy" value="false" />
      <add key="ProxyIP" value="10.10.21.22" />
      <add key="ProxyPort" value="2020" />
      <add key="IsLiveMode" value="true"/>
    </Job>
   
  </Jobs>
  <log4net debug="false">
    <root>
      <level value="OFF" />
      <appender-ref ref="RootLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>



    <appender name="Parkway.Scheduler" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\log.log" />
      <param name="AppendToFile" value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5120KB" />
      <rollingStyle value="Size" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BankCollect Service Started] &#xD;&#xA;" />
        <param name="Footer" value="[BankCollect Service Stopped] &#xD;&#xA;" />
        <!--<param name="ConversionPattern" value="%n&lt;%c %-5p[%t] %d &gt; %n -%m %n &lt;/%c&gt;%n" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="RootLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\log.log" />
      <param name="AppendToFile" value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5120KB" />
      <rollingStyle value="Size" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BankCollect Service Started] &#xD;&#xA;" />
        <param name="Footer" value="[BankCollect Service Stopped] &#xD;&#xA;" />
        <!--<param name="ConversionPattern" value="%n&lt;%c %-5p[%t] %d &gt; %n -%m %n &lt;/%c&gt;%n" />-->
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} - %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
      </layout>
    </appender>

    <!--====================================-->
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>
    <appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="SystemAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/system.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>


    <logger name="System">
      <level value="OFF" />
      <appender-ref ref="SystemAppender" />
    </logger>
  </log4net>
</configuration>